font family: 'Oregano', cursive;



button{
}

h1{
	text-align: left;
}

#background{
	position: absolute;
	z-index: -1;
	width: 99%;
	height: 500px;
	background-color: red;
}

#navigation{
	text-align: right;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 1.5em;
	margin: 10px;
}

#header{
    /*position: fixed;*/
    top: 10px;
    width: 100%;
    height: 3em;
    border: 1px solid  black;
    border-radius: 5px;
    text-align: center;
    line-height: 10px;
    background-color: #0174DF;
    font-family: Oldtown, fantasy;
    color: white;
    font-size: 20px;
}

#logo{
	float: left;
	border-radius: 10px;
	border: 2px solid white;
	}
	
#map{
    height: 450px;
    width: 70%;
    border: 2px solid white;
    border-radius: 10px;
    float: right;
    text-align: right;
    margin: 10px;
}

#locationheader{
    width: 25%;
    height: 75px;
    padding: 4px;
    float: left;
    border: 3px solid white;
    text-align: left;
    margin: 10px;
    border-radius: 10px;
}
#alpha{
    width: 20%;
    height: 50px;
    padding: 4px;
    float: left;
    border: 3px solid white;
    text-align: left;
    margin: 5px;
    border-radius: 10px;
}

#location{
	width: 200px;
	height: 100px;
	padding: 4px;
	float: left;
	border: 20px solid white;
	margin: 10px;
	text-align: left;
	
}
#numbers{
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    float: right;
    position: relative;
    right:270px;
    margin: 10px;
    text-align: center;
    
}
#parameters{
    float: left;
    width: 25%;
}

.leaflet-google-layer{
	z-index: 0;
}

.leaflet-map-pane{
	z-index: 100;
}

body {
background-color: #1C75BC;
text-align: center;
}

/*links*/
a:link {color:#FFFFFF; text-decoration:none;}
a:visited {color:#FFFFFF; text-decoration:none;}
a:hover {color:#000000; text-decoration:none;}
a:active {color:#FFFFFF; text-decoration:none;}

